<launch>

    <machine 
       name="laptop" 
       address="192.168.100.1"
       env-loader="/opt/ros/melodic/env.sh"
     />
    
    <machine 
       name="raspberry" 
       address="192.168.100.2"  
       env-loader="/home/piano_haptic/catkin_ws/devel/raspberry_env.sh"
    />


    <group ns ="laptop">
        <node 
           machine="laptop"
           pkg="ros_rob" 
           name="Rosbotran" 
           type="exe_Car" 
           output="screen" 
           required="true"
         />
     </group>

    <group ns ="raspberry">
        <node 
           machine="raspberry" 
           pkg="ros_rasp" 
           name="listener" 
           type="listener"
           output="screen"
         />

      <node 
         machine="raspberry" 
           pkg="keyboard" 
           name="keyboard" 
          type="keyboard"
         />

      <node 
           machine="raspberry" 
           pkg="rqt_console" 
           name="rqt_console" 
           type="rqt_console"
           output="screen"
         />
     </group>

</launch>
