<launch>

    <machine 
       name="laptop" 
       address="192.168.100.1"
       env-loader="/opt/ros/melodic/env.sh"
     />
    
    <machine 
       name="raspberry" 
       address="192.168.100.2"  
       env-loader="/home/piano_haptic/catkin_ws/devel/raspberry_env.sh"
    />


    <group ns ="laptop">
        <node 
           machine="laptop"
           pkg="ros_rob" 
           name="Rosbotran" 
           type="exe_Car" 
           output="screen" 
           required="true"
         />

       <node 
           machine="laptop"
           pkg="rosbag" 
           name="rosbag_pos_vit" 
           type="record" 
           args="-O /home/tuerlinckxt/Documents/MATLAB/rasp_key_pos_topic.bag /raspberry/keyboard/chatter_pos_vit"
         />

     <node 
           machine="laptop"
           pkg="rosbag" 
           name="rosbag_torque" 
           type="record" 
           args="-O /home/tuerlinckxt/Documents/MATLAB/torque_topic.bag /raspberry/keyboard/chatter_torque"
         />
     </group>

   
</launch>
